apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: development-bangka
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Hamdanarrosyid/argocd-demo-testing.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy: 
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true